<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Distracted Driving</title>
    <link rel="stylesheet" type="text/css" href="/static/distracted-driving.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script defer src="/static/distracted-driving.js"></script>
  </head>
  <body>
    <div id="container">
      <video id="video" playsinline autoplay></video>
      <canvas id="canvas" width="640" height="640"></canvas>
      <div id="data"></div>
    </div>
  </body>
</html>
