<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Distracted Driving</title>
    <link rel="stylesheet" type="text/css" href="/static/distracted-driving.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script defer src="/static/distracted-driving.js"></script>
  </head>
  <body>
    <section id="container">
      <video id="video" playsinline autoplay></video>
      <canvas id="canvas"></canvas>
    </section>
    <section id="driver-alerts">
      <h1>Driver Alerts</h1>
      <div id="alerts"></div>
    </section>
    <audio id="audio-muito-intenso" src="/static/audio/muito-intenso.wav"></audio>
    <audio id="audio-intenso" src="/static/audio/intenso.wav"></audio>
    <audio id="audio-intermitente" src="/static/audio/intermitente.wav"></audio>
    <audio id="audio-unico" src="/static/audio/unico.wav"></audio>
    <audio id="audio-descanso" src="/static/audio/descanso.wav"></audio>
  </body>
</html>
